/* Login */
.login-body {
    height: 100vh;
    margin: 0;
    padding: 100px 0 0 0;
    background: rgb(17,65,168);
background: -moz-linear-gradient(180deg, rgba(17,65,168,1) 0%, rgba(5,43,125,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(17,65,168,1) 0%, rgba(5,43,125,1) 100%);
background: linear-gradient(180deg, rgba(17,65,168,1) 0%, rgba(5,43,125,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1141a8",endColorstr="#052b7d",GradientType=1);

    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login-wrapper {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    
    #login-container {
        margin-top: 20px;
        box-sizing: border-box;;
        height: 450px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 2em;
        text-align: center;
        color: #4f575b;
        
        .title {
            font-size: 20px;
            display: block;
            margin-bottom: 10px;
        }
        
        .remember-me {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        
        .ui-chkbox {
            vertical-align: middle;
            font-size: $fontSize;
        }
        
        a {
            color: #0f3b97;
            text-decoration: none;
            vertical-align: middle;
            font-size: 16px;
        }

        .col-12, .col-6 {
            padding: .8em;
        }
        
        .ui-button {
            border-radius: 3px;
            border: 1px solid #1141A8;
            color: #FFFFFF;
            background: #1141A8;
            font-size: 16px;

            &:hover {
                background: #0f3b97;
            }

            &:focus {
                outline: 0 none;
                background: #89abf3;
            }
        }
    }    
    
    .login-footer {
        color: #ffffff;
        font-size: $fontSize;
        margin-top: 50px;
    }
} 

@media (max-width: 40em) {
    .login-body {
        padding-top: 50px;
    }
    
    #login-wrapper {
        width: 380px;
        
        #login-container {
            height: 450px;
        }
    }
}
