<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
        <style type="text/css">
            body {
                background-color: #ffffff !important;
                margin: 0;
                padding: 0;
                margin-left: 0px;
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                font-size: 14px;
                font-family: Arial !important;
            }
            .divTittle {
                background-color: #ffffff;
                color: #1141A8;
                font-weight: bold;
                font-size: 14px;
                text-align: center;
            }
            .divCarita {
                background-color: #ffffff;
                color: #1141A8;
                font-size: 15px;
                text-align: center;
            }
            .divDatoEnvio {
                background-color: #ffffff;
                color: #333;
                font-size: 12px;
                text-align: center;
            }
            .divDatos {
                background-color: #ffffff;
                color: #333;
                font-size: 12px;
                text-align: justify;
            }
            .divDatosR {
                background-color: #ffffff;
                color: #333;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
            }
            .divDatosResaltado {
                background-color: #ffffff;
                color: #1141A8;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
            }
            ul,
            ol,
            dl {
                padding: 0;
                margin: 0;
            }
            .border_tabla {
                border-radius: 15px 15px 15px 15px;
                -moz-border-radius: 15px 15px 15px 15px;
                -webkit-border-radius: 15px 15px 15px 15px;
                border: 5px solid #1141A8;
                padding: 3px 3px 3px 3px;
                background: #ffffff;
                text-align: center;
            }
            .border_tabla2 {
                border-radius: 15px 15px 15px 15px;
                -moz-border-radius: 15px 15px 15px 15px;
                -webkit-border-radius: 15px 15px 15px 15px;
                border: 0px solid #1141A8;
                background: #ffffff;
                text-align: center;
            }
            .myButton {
                box-shadow: inset 0px 1px 3px 0px #1481d4;
                background: linear-gradient(to bottom, #1481d4 5%, #1481d4 100%);
                background-color: #1481d4;
                border-radius: 5px;
                border: 1px solid #1481d4;
                display: inline-block;
                cursor: pointer;
                color: white;
                font-family: Arial;
                font-size: 15px;
                font-weight: bold;
                padding: 8px 20px;
                text-decoration: none;
                text-shadow: 0px -1px 0px #1481d4;
            }
            .myButton:hover {
                background: linear-gradient(to bottom, #1481d4 5%, #1481d4 100%);
                background-color: #1481d4;
				color: white;
            }
            .myButton:active {
                position: relative;
                top: 1px;
				color: white;

            }
			.myButton:link {
                position: relative;
                top: 1px;
				color: white;
            }
			
			
        </style>
    </head>
    <body style="background: white; " >
        <table width="500" border="0" align="center">
            <tr>
                <td height="15"></td>
            </tr>
            <tr>
                <td height="40"><div class="divTittle">$TEMPLATEVERIFICACIONTITULO</div></td>
            </tr>
            <tr>
                <td>
                    <table width="400" align="center" class="border_tabla">
                        <tr>
                            <td>
                                <table width="400" align="center" class="border_tabla2">
                                    <tr>
                                        <td width="33%">
                                            <table width="100%" border="0">
                                                <tr>
                                                    <td width="10">&nbsp;</td>
                                                    <td width="300">&nbsp;</td>
                                                    <td width="10">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <table  width="100%" align="center" >
                                                            <td><img src="https://www.jaio360-app.com/images/logoJaio360.png?pfdrid_c=true" alt="" width="130"  /></td>
                                                            <td><img src="$URLLOGO" alt="" width="130" /></td>
                                                        </table>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr style="height: 60px;">
                                                    <td>&nbsp;</td>
                                                    <td><div class="divCarita">$TEMPLATEVERIFICACIONHELLO $NOMBRE,</div></td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <div class="divDatos">
                                                            $TEMPLATEVERIFICACIONPARRAFO1
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
												                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <div class="divDatos">
                                                            $TEMPLATEVERIFICACIONPARRAFO2 
								<a href="$URL/verifyAccount.jsf?email=$EMAIL">$TEMPLATEVERIFICACIONLINK</a>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <div class="divDatos">
                                                            $TEMPLATEVERIFICACIONPARRAFO3
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>												
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td class="divDatosR">$TEMPLATEVERIFICACIONPARRAFO4</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td><div class="divCarita">$TOKEN</div></td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>											
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td class="divDatosR">$TEMPLATEVERIFICACIONPARRAFO5</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td class="divDatos">$TEMPLATEVERIFICACIONPARRAFO6 $COUNTRYMANAGER.</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="60"><div class="divDatoEnvio">Copyright © 2024 JAIO360</div></td>
            </tr>
        </table>
    </body>
</html>
